/*Navbar para la página*/
.navbar{ background:#000; }
.nav-link , .navbar-brand{ color: white; cursor: pointer;}
.nav-link{ margin-right: 3em !important;}
.nav-link:hover{ background: #f4f4f4; color: #000; }
.navbar-collapse{ justify-content:space-around;}
.navbar-toggler{  background:#fff !important;}
.navbar-brand:hover{color:green;}

/*Barra de contacto*/
.contact-form{
 margin: 6em 0;
 position: relative;
}
.contact-form h1{
 padding:2em 1px;
 color: black;
}
.contact-form .right{
 max-width: 600px;
}
.contact-form .right .btn-secondary{
 background:  black;
 color: #fff;
 border:0;

}
.contact-form .right .form-control::placeholder{
 color: #888;
 font-size: 16px;
}


/* Otras funciones debajo de este comentario */
#first{
    margin: 10%;
    text-align: center;
    background-color: rgba(0,200,200,0.5);
}

.parrafo {
    margin: 10px;
}

/*Con esta función se le coloca negrilla a los títulos e itálica*/
.titleONE{
    font-weight:bold;
    font-style: italic;
}

/* Esta función permite colocarle el fondo a la página web y el color blanco al texto dentro de él*/
.principales{
    background-image: url(../Images/foto_domotica.jpg);
    background-size: 100%;
    color:white;
}



.contact-form {
    background-color: white;
}

.info{
    text-align: justify;
}
h1{
    text-align: center;
}
img{
    height: 400px;
    width: 450px;
}

#divTeamWork{
    margin: 5%;
    text-align: center;
    background-color: rgb(250, 250, 215);
}

/* default for mobile (Mobile first) */
  .imagen-adaptativa1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 40%;
    width: 40%;
  }

  /* Smaller than standard 960 (devices and browsers) */
  @media (max-width: 959px) {
    .imagen-adaptativa1 {
      display: block;
      margin-left: auto;
      margin-right: auto;
      height: 35%;
      width: 35%;
    }
  }

  /* Tablet Portrait size to standard 960 (devices and browsers) */
  @media (min-width: 769px) and (max-width: 959px) {
    .imagen-adaptativa1 {
      display: block;
      margin-left: auto;
      margin-right: auto;
      height: 50%;
      width:50%;
    }
  }

  /* All Mobile Sizes (devices and browser) */
  @media (max-width: 767px) {
    .imagen-adaptativa1 {
      display: block;
      margin-left: auto;
      margin-right: auto;
      height: 65%;
      width: 65%;
    }
  }

  /* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
  @media (min-width: 577px) and (max-width: 767px) {
    .imagen-adaptativa1 {
      display: block;
      margin-left: auto;
      margin-right: auto;
      height: 70%;
      width: 70%;
    }
  }

  /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
  @media (max-width: 576px) {
    .imagen-adaptativa1 {
      display: block;
      margin-left: auto;
      margin-right: auto;
      height: 80%;
      width: 80%;
    }
  }


/*Esta porción de código se usa para hacer la página adaptativa*/
@media (min-height: 900px) {
    body {
        background-size: 150%;
        background-position: center;
    }
    .navbar-brand {
        font-size: 50px;
    }
    #first {
        margin: 20%;
    }

    .titleONE{
        font-size:50px;
    }

    .titleTWO{
        font-size:60px;
    }

    .parrafo {
        font-size: 30px;
    }

    #contacto {
        display: contents;
    }

    #Datos {
        display: contents;

    }
    .form-group {
    display: block;
    margin: 10px;
    overflow: hidden;
    }

    .form-control {
        height: 100px;
        width: 650px;
        font-size: 60px;
    }
    .contact-form .right .form-control::placeholder{
         color: #888;
         font-size: 40px;
    }
}

/* Modificar el titulo principal de la pagina sabermas*/

#titulo1{

    text-align: center;
    font-style:italic;
    font-weight:bold;
    font-size:3em;
    font-family:'Helvetica';
}

#beneficios_titulo{

    text-align: justify;
    font-weight:bold;
    font-size:25px;
    font-family:'Helvetica';
}

#luz_negro_azul{
  max-width: 100%;
  display: block;
  height: auto;
}




